.env
__pycache__/config.cpython-313.pyc
app/__pycache__/services.cpython-313.pyc
core/__pycache__/get_yt_video_subtitles.cpython-313.pyc
core/__pycache__/limiter.cpython-313.pyc
model_tools/__pycache__/get_yt_video_summary.cpython-313.pyc
services/__pycache__/gemini_service.cpython-313.pyc
telegram/handlers/__pycache__/__init__.cpython-313.pyc
telegram/handlers/__pycache__/text.cpython-313.pyc
telegram/utils/__pycache__/message.cpython-313.pyc
